{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="color-page rojo">

    <div class="color-container">

        <!-- IMAGEN -->
        <div class="color-img">
            <img src="{% static 'img/mesa 1.svg' %}" alt="Jesucristo el Salvador">
        </div>

        <!-- TEXTO -->
        <div class="color-text">
            <h1>Jesucristo el Salvador</h1>

            <p>
                El color rojo representa la sangre de Jesucristo,
                derramada por la salvación de la humanidad.
            </p>

            <p>
                A través de su sacrificio en la cruz,
                tenemos perdón de pecados y vida eterna.
            </p>
        </div>

    </div>

</section>

{% endblock %}