{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="color-page azul">

    <div class="color-container">

        <!-- IMAGEN -->
        <div class="color-img">
            <img src="{% static 'img/mesa_3.svg' %}" alt="Color azul">
        </div>

        <!-- TEXTO -->
        <div class="color-text">
            <h1> Jesucristo el Sanador</h1>

            <p>
                El color azul representa la sanidad divina.
                Nos recuerda que Dios restaura, sana y trae paz a nuestras vidas.
            </p>
        </div>

    </div>

</section>

{% endblock %}