{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="color-page morado">

    <div class="color-container">

        <!-- IMAGEN -->
        <div class="color-img">
            <img src="{% static 'img/mesa_4.svg' %}" alt="Color morado">
        </div>

        <!-- TEXTO -->
        <div class="color-text">
            <h1> Jesucristo el Rey que viene pronto</h1>

            <p>
                El color morado representa la realeza de Cristo.
                Nos recuerda que Él volverá como Rey de reyes y Señor de señores.
            </p>
        </div>

    </div>

</section>

{% endblock %}