{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="color-page amarillo">

    <div class="color-container">

        <!-- IMAGEN -->
        <div class="color-img">
            <img src="{% static 'img/mesa_2.svg' %}" alt="Color amarillo">
        </div>

        <!-- TEXTO -->
        <div class="color-text">
            <h1> Jesucristo el bautizador</h1>

            <p>
                El color amarillo representa Simboliza el poder y la presencia del Espíritu Santo, quien llena y capacita
            </p>
        </div>

    </div>

</section>

{% endblock %}